/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
}
/*Sample web font can be used if required*/
a {
  font-family: "Bitstream Vera Serif Bold", serif
}
